<%- include ("../partials/header.ejs") %>
<%- include ("../partials/homenavbar.ejs") %>

<body>
    <div class="jumbotron justify-contet-center" style="margin-bottom:0px; border-radius: 0; padding: 5px;">
    
        <div class="container w-50 card mt-5 mb-5" style="min-height:100px;">
            
            <div class="container text-center">
                <div class="row justify-contet-center ">
                    <h3 class="mt-2 ml-3">Adicionar novo dino</h3>
                    <form action="/admin/adddino" method="post" enctype="multipart/form-data" style="width: 100%;">

                        <div class="col-sm-12 mt-2">
                        <input type="text" class="form-control form-control-lg" id="nome" name="nome" placeholder="Nome">
                        </div>
                        <div class="col-sm-12 mt-2">
                            <input type="number" class="form-control form-control-lg" id="comprimento" name="comprimento" placeholder="Comprimento">
                        </div>
                        <div class="col-sm-12 mt-2">
                            <input type="number" class="form-control form-control-lg" id="altura" name="altura" placeholder="Altura">
                        </div>
                        <div class="col-sm-12 mt-2">
                            <input type="number" class="form-control form-control-lg" id="peso" name="peso" placeholder="Peso">
                        </div>
                        <div class="col-sm-12 mt-2">
                        <input type="number" class="form-control form-control-lg" id="velocidade" name="velocidade" placeholder="Velocidade">
                        </div>
                        <div class="col-sm-12 mt-2">
                            <div class="form-group">
                                <input type="file" class="form-control-file" id="img" name="img">
                              </div>
                        </div>
                        <div class="col-sm-12 mt-2">
                        <textarea name="caracteristicas" id="caracteristicas" cols="30" rows="5" class="form-control form-control-lg" placeholder="Características"></textarea>
                        </div>


                        <div class="col-sm-12 my-3">
                            <button type="submit" class="btn btn-outline-dark btn-lg">Adicionar</button>
                        </div>
                        </form> <br>
                  
                </div>
        
    
    </div>
    </div>

    <div class="container w-50 card mt-5 mb-5" style="min-height:100px;">
            
        <div class="container text-center">
            <div class="row justify-contet-center ">
                <h3 class="mt-2 ml-3">Adicionar nova pessoa</h3>
                <form action="/admin/addhuman" method="POST" enctype="multipart/form-data" style="width: 100%;">

                    <div class="col-sm-12 mt-2">
                    <input type="text" class="form-control form-control-lg" id="nome" name="nome" placeholder="Nome">
                    </div>
                    <div class="col-sm-12 mt-2">
                        <input type="number" class="form-control form-control-lg" id="idade" name="idade" placeholder="Idade">
                    </div>
                    <div class="col-sm-12 mt-2">
                        <input type="text" class="form-control form-control-lg" id="habilidade" name="habilidade" placeholder="Habilidade">
                    </div>
                    <div class="col-sm-12 mt-2">
                        <textarea  class="form-control form-control-lg" style="height: 200px; resize: none;" id="hobbie" name="hobbie" placeholder="Hobbie"></textarea>
                    </div>

                    <div class="col-sm-12 mt-2">
                        <div class="form-group">
                            <input type="file" class="form-control-file" id="img" name="img">
                          </div>
                    </div>

                    <div class="col-sm-12 my-3">
                        <button type="submit" class="btn btn-outline-dark btn-lg">Adicionar</button>
                    </div>
                </form> <br>
              
            </div>
    

        </div>
    </div>
<div class="container w-50 card mt-5 mb-5" style="min-height:100px;">
            
    <div class="container text-center">
        <div class="row justify-contet-center ">
            <h3 class="mt-2 ml-3">Adicionar novo componente:</h3>
            <form action="/admin/addcomponente" method="post" enctype="multipart/form-data" style="width: 100%;">

                <div class="col-sm-12 mt-2">
                <input type="text" class="form-control form-control-lg" id="nome" name="nome" placeholder="Nome">
                </div>
                <div class="col-sm-12 mt-2">
                    <div class="form-group">
                        <h5 class="img">Imagem de capa:</h5>
                        <input type="file" class="form-control-file" id="img1" name="img1">
                      </div>
                </div>
                <div class="col-sm-12 mt-2">
                    <div class="form-group">
                        <h5 class="img">Exemplo do circuito:</h5>
                        <input type="file" class="form-control-file" id="img2" name="img2">
                      </div>
                </div>
                <div class="col-sm-12 mt-2">
                <textarea name="descricao" id="descricao" cols="30" rows="5" class="form-control form-control-lg" placeholder="Características"></textarea>
                </div>


                <div class="col-sm-12 my-3">
                    <button type="submit" class="btn btn-outline-dark btn-lg">Adicionar</button>
                </div>
                </form> <br>
          
        </div>


</div>
</div>
</body>


  
<%- include ("../partials/footer.ejs") %>
<style>
    .img{
        text-align: left;
    }
</style>
