

<%- include ("../partials/header.ejs") %>
<%- include ("../partials/navbar.ejs") %>
<body>
        <div class="jumbotron justify-content-center" >
            <div class="ml-1 mb-3" style="border-radius: 5px;height: 110px; background: #fff; border: 1px solid #DADADA; width: 46%;">
                <h3 class="m-2">Gerar confrontos:</h3>
                <a href="/admin/gerarconfrontos"><button class="btn btn-success m-2">Sortear</button></a>
            </div>
            
            </div>
</body>

<%- include ("../partials/footer.ejs") %>
