<%- include ("partials/header.ejs") %>

<body class="jumbotron bg-dark" >
    
      <div class="container justify-content-center">
        <div class="row text-center">
          <div class="col" >
            <a href="/index"><ion-icon name="chevron-back-outline" class="icon btn btn-dark">back</ion-icon></a>
          </div>
          <div class="col-6 mt-0 pt-0 bg-dark" style="min-width: 450px; background: #000;">
            <div class="card w-100 text-center"  style="border: 1px solid grey; border-radius: 3px;">
                <div class="card-header" style="background: #000;">
                  <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                      <a class="nav-link text-white" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link  active" href="/cadastro">Registro</a>
                    </li>
                  </ul>
                </div>
                <div class="card-body">
                    
                  <h3 class="card-title">Bem vindo</h3>
                  <form action="/cadastro/store" method="post">
                        
                    <div class="col-sm-12 mt-5">
                      <input type="text" class="form-control form-control-lg" id="nome" name="nome" placeholder="Nome da equipe">
                    </div>
                    <div class="col-sm-12 mt-3">
                      <input type="email" class="form-control form-control-lg" id="email" name="email" placeholder="E-mail">
                    </div>
                    <div class="col-sm-12 mt-3">
                      <select class='form-control form-control-lg' required name='modalidade' id="modalidade" placeholder="Modalidade">
                          <option></option>
                          <option>Regular</option>
                          <option>Técnico</option>
                      </select>
                      </div>
                    <div class="col-sm-12 mt-3 form-group">
                      <input type="password" class="form-control form-control-lg" id="senha" name="senha" placeholder="Senha">
                  </div>
                    <div class="col-sm-12 mt-3">
                      <input type="password" class="form-control form-control-lg" id="senhaa" name="senhaa" placeholder="Confirme sua senha">
                    </div>
                    
                    <div class="col-sm-12 my-3">
                        <button type="submit" class="btn btn-outline-dark btn-lg">Registrar-se</button>
                    </div>
                    </form>
              </div>
            
                </div>
          </div>
          <div class="col align-items-end mt-5 bg-dark">
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <img src="/img/dino.png" style=" height: 23%; width: 100%;">
          </div>
        </div>
      </div>
    </body>
    <style>
        .icon{
            height: 30px;
            width: 30px;
        }
    </style>