<%- include ("./partials/header.ejs") %>
<body  style="background: #111111;">
 
    
       
        <div class="container">
            <div class="row">
              <div class="col">
                
              </div>
              <div class="col-8 capa align-items-end">
                
                
                <div class="row w-100">
                    <div class="col">
                        
                    </div>
                    <div class="col">
                    </div>
                    <div class="col justify-content-center">
                        
                    </div>
                    <div class="col">
                        <a href="/cadastro"><button type="button" class="btn btn-outline-light" style="height: 50px; min-width: 100px;">Registro</button></a>
                    </div>
                    <div class="col">
                        <a href="/login"><button type="button" class="btn btn-outline-light" style="height: 50px; min-width: 100px;">Login</button></a>
                    </div>
                    <div class="col">
                        
                    </div>
                    <div class="col">
                        
                    </div>
                    
                  </div>
              </div>
              <div class="col">
              </div>
              
            </div>
</body>

<%- include ("./partials/footer.ejs") %>


<style>
.capa{
    background-image: url("/img/capa.svg");
    min-height: 800px;
    display: flex;
    align-items: center;
    padding-bottom: 100px;
}
</style>