<%- include ("../partials/header.ejs") %>
<%- include ("../partials/homenavbar.ejs") %>

<body>
    <div class="jumbotron justify-contet-center" style="margin-bottom:0px; border-radius: 0; padding: 5px;">
      
        <div class="container card mt-5 mb-5">
          
        <div class="card m-3">
            <div class="row no-gutters mt-5 mb-3">
    
              <div class="col">
                </div>
                <div class="col-6 text-center" >
                    <h4>Ops! Você não atingiu os pontos necessários. <br></h4>
                    <h5> Aguarde enquanto nossa equipe escolhe seus componentes.</h5>
                     </div>
            <div class="col" >
            </div>
            </div>
            <div class="row no-gutters mb-5">
    
              <div class="col">
                </div>
                <div class="col" >
                    <img src="/img/dino2.jpg" style="width:100%; heigth:100%">
                    </div>
            <div class="col" >
            </div>
            </div>
        </div>
        
        </div>
    
    </div>


</body>
