<%- include ("../partials/header.ejs") %>
<%- include ("../partials/homenavbar.ejs") %>
<body>
    <div class='container'>
     <div class = 'alert alert-secondary mt-4'>
                        Acesso restrito, você precisa ser um dos administradores para acessar!
                    </div>
    </div>
</body>

<%- include ("../partials/footer.ejs") %>